<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>EcommerceWebsite</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Loginpage</servlet-name>
		<servlet-class>com.controllers.LoginPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Loginpage</servlet-name>
		<url-pattern>/Loginpage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>com.controllers.SignInPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/signinpage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addtocart</servlet-name>
		<servlet-class>com.controllers.AddtoCart</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addtocart</servlet-name>
		<url-pattern>/addtocart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>showcart</servlet-name>
		<servlet-class>com.controllers.ShowCart</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showcart</servlet-name>
		<url-pattern>/showcart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checkout</servlet-name>
		<servlet-class>com.controllers.CheckoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myorders</servlet-name>
		<servlet-class>com.controllers.MyOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myorders</servlet-name>
		<url-pattern>/myorders</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CancelOrderServlet</servlet-name>
		<servlet-class>com.controllers.CancelOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CancelOrderServlet</servlet-name>
		<url-pattern>/CancelOrderServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateCart</servlet-name>
		<servlet-class>com.controllers.updateCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateCart</servlet-name>
		<url-pattern>/updateCart</url-pattern>
	</servlet-mapping>
</web-app>